<h1>Heroes <small> Marvel y DC</small></h1>
<hr>

<div class="card-columns">
    <!-- *ngFor="let heroe of heroes; let i = index" -->
   <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" *ngFor="let heroe of heroes; let i = index" [heroe]="heroe" [index]="i"></app-heroe-tarjeta>


</div>