<h1 class="animated fadeIn fast">Sobre ComicAPP</h1>

<hr>
<p class="animated fadeIn ">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magni nulla molestias voluptatem labore soluta sint maiores id laborum natus sequi libero voluptatibus ea in earum, aspernatur corporis, veniam repudiandae.
</p>